<div class="product">
  <h2>
    {{ product.name }}
  </h2>
  <p>{{ product.description }}</p>
  <p>href: {{ product.href }}</p>
  <p>bundle: {{ product.isBundle }}</p>
  <p>customerVisible: {{ product.isCustomerVisible }}</p>
  <p>serialNumber: {{ product.productSerialNumber }}</p>
  <p>status: {{ product.status }}</p>
  <p>startDate: {{ product.startDate }}</p>
  <p>orderDate: {{ product.orderDate }}</p>
  <p>terminationDate: {{ product.terminationDate }}</p>

  <button routerLink="/" class="btn" [ngStyle]="{ 'background-color': 'red' }">
    Back
  </button>
  <button
    routerLink="/update-product/{{ product.id }}"
    class="btn"
    [ngStyle]="{ 'background-color': 'yellow', color: 'black' }"
  >
    Edit
  </button>
</div>
