.product {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.product .reminder {
  border-left: 5px solid green;
}

.product .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product .buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
