<div class="product" (click)="navigateToDetails(product)">
  <div class="title">
    <h3>
      {{ product.name }}
    </h3>

    <div class="buttons">
      <fa-icon
        [ngStyle]="{ color: 'black', margin: '2px 10px' }"
        [icon]="faEdit"
        (click)="navigateToUpdate(product)"
      ></fa-icon>
      <fa-icon
        [ngStyle]="{ color: 'red', margin: '2px 10px' }"
        [icon]="faTimes"
        (click)="deleteItem(product)"
      ></fa-icon>
    </div>
  </div>
  <p>{{ product.description }}</p>
</div>
