<div class="form-container">
  <form>
    <div class="form-group">
      <label>Name</label>
      <input
        required
        ngModel
        name="name"
        id="name"
        type="text"
        class="form-controller"
        #prodname="ngModel"
        (change)="saveName(prodname)"
      />
      <p class="alert-error" *ngIf="prodname.touched && !prodname.valid">
        Name required
      </p>
    </div>
    <div class="form-group">
      <label>Description</label>
      <input
        required
        ngModel
        name="description"
        id="description"
        type="text"
        class="form-controller"
        #proddescription="ngModel"
        (change)="saveDescription(proddescription)"
      />
      <p
        class="alert-error"
        *ngIf="proddescription.touched && !proddescription.valid"
      >
        Description required
      </p>
    </div>
    <div class="form-group">
      <label>Bundle</label>
      <input
        ngModel
        name="bundle"
        id="bundle"
        type="checkbox"
        class="form-controller"
        #prodbundle="ngModel"
        value="false"
        (change)="saveBundle(prodbundle)"
      />
      <p class="alert-error" *ngIf="prodbundle.touched && !prodbundle.valid">
        Bundle required
      </p>
    </div>
    <div class="form-group">
      <label>Customer visible</label>
      <input
        ngModel
        name="visible"
        id="visible"
        type="checkbox"
        class="form-controller"
        #prodvisible="ngModel"
        value="false"
        (change)="saveVisible(prodvisible)"
      />
      <p class="alert-error" *ngIf="prodvisible.touched && !prodvisible.valid">
        Customer visible required
      </p>
    </div>
    <div class="form-group">
      <label>Href</label>
      <input
        required
        ngModel
        name="href"
        id="href"
        type="text"
        class="form-controller"
        #prodhref="ngModel"
        (change)="saveHref(prodhref)"
      />
      <p class="alert-error" *ngIf="prodhref.touched && !prodhref.valid">
        Href required
      </p>
    </div>
    <div class="form-group">
      <label>Serial number</label>
      <input
        required
        ngModel
        name="serial"
        id="serial"
        type="number"
        class="form-controller"
        #prodserial="ngModel"
        (change)="saveSerial(prodserial)"
      />
      <p class="alert-error" *ngIf="prodserial.touched && !prodserial.valid">
        Serial number required
      </p>
    </div>
    <div class="form-group">
      <label>Status</label>
      <select
        required
        ngModel
        name="status"
        id="status"
        type=""
        class="form-controller"
        #prodstatus="ngModel"
        (change)="saveStatus(prodstatus)"
      >
        <option value="" disabled>Status</option>
        <option *ngFor="let s of status" [value]="s">
          {{ s }}
        </option>
      </select>
      <p class="alert-error" *ngIf="prodstatus.touched && !prodstatus.valid">
        Status required
      </p>
    </div>
    <div class="form-group">
      <label>Start date</label>
      <input
        required
        ngModel
        name="startdate"
        id="startdate"
        type="date"
        class="form-controller"
        #prodstartdate="ngModel"
        (change)="saveStartDate(prodstartdate)"
      />
      <p
        class="alert-error"
        *ngIf="prodstartdate.touched && !prodstartdate.valid"
      >
        Start date required
      </p>
    </div>
    <div class="form-group">
      <label>Termination date</label>
      <input
        required
        ngModel
        name="terminationdate"
        id="terminationdate"
        type="date"
        class="form-controller"
        #prodterminationdate="ngModel"
        (change)="saveTerminationDate(prodterminationdate)"
      />
      <p
        class="alert-error"
        *ngIf="prodterminationdate.touched && !prodterminationdate.valid"
      >
        Termination date required
      </p>
    </div>
    <div class="form-group">
      <label>Order date</label>
      <input
        required
        ngModel
        name="date"
        id="date"
        type="date"
        class="form-controller"
        #proddate="ngModel"
        (change)="saveOrderDate(proddate)"
      />
      <p class="alert-error" *ngIf="proddate.touched && !proddate.valid">
        Order date required
      </p>
    </div>

    <button
      routerLink="/"
      class="btn"
      [ngStyle]="{ 'background-color': 'green' }"
      (click)="submit()"
    >
      Submit
    </button>
    <button
      routerLink="/"
      class="btn"
      [ngStyle]="{ 'background-color': 'red' }"
    >
      Back
    </button>
  </form>
</div>
